<br><br>
<hr>
<h2>Does this doc need an update?</h2>
<p>
  If you notice an issue or see something we can improve, please
  <a href="{{ site.gh_url }}/issues/new?title=RE%3A%20{{ page.id }}"
     target=_blank>share your suggestion</a>.
</p>
<p>
  The Airbrake docs are open-source and available on <a href="{{ site.gh_url }}">GitHub</a>.
  We welcome <a href="{{ site.gh_url }}/blob/master/CONTRIBUTING.md&#35;contributing-to-airbrake-docs">
  your contributions</a> to make these docs better.
</p>
