<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">
	<link href="/docs/assets/img/brand/favicon.png" rel="icon" type="image/png" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
	<!-- End  -->
	<link rel="stylesheet" href="{{ "/assets/css/application.css" | prepend: site.baseurl }}" />
	<title>{% if page.title %}{{ page.title | escape }} - Airbrake{% else %}{{ site.title | escape }} - Airbrake{% endif %}</title>
	<script type="text/javascript" src="//use.typekit.net/ljv7cch.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
