.header {
  background: $ab-blue-100;
}

.navbar--ab {
  margin-bottom: 0;

  .airbrake-logo {
    max-width: 56px;
    margin-left: 15px;
  }

  .navbar-brand {
    height: auto;
  }

  .navbar-toggle {
    width: 50px;
    margin: 23px 15px 8px 0;
    background-color: rgba($ab-black, 0.2);

    @media ($greaterThanLarge) {
      display: none;
    }

    @media ($lessThanLarge) {
      display: block !important;
    }

    .icon-bar {
      width: auto;
      background: rgba($ab-white, 0.5);

      & + .icon-bar {
        margin-top: 6px;
      }
    }
  }

  .nav-collapse {
    padding-left: 30px;

    @media ($lessThanLarge) {
      display: none;
      clear: both;
    }

    @media ($greaterThanLarge) {
      display: block !important;
    }
  }


  .nav {
    a {
      padding: 0 1em;
      line-height: 3em;
      color: $ab-grey-800;
      letter-spacing: -0.4px;
      -webkit-font-smoothing: auto;

      @media ($greaterThanLarge) {
        // .navbar-brand is determining the height of .navbar-nav
        // it contains the logo (60px height) plus 30px of vertical padding
        // that adds to 90px, the line-height we are going to define to this element:
        line-height: 88px;
      }

      &:hover,
      &:focus {
        background: transparent;
        color: $ab-white;
      }

      &:focus {
        outline: 0;
        box-shadow: inset 0 -4px 0 $ab-grey-600;
      }
    }
  }

  .ab-nav__links {
    @media ($greaterThanLarge) {
      float: left;
    }
  }

  .ab-nav__app {
    @media ($greaterThanLarge) {
      float: right;
      margin-right: 15px;
    }
  }
}
