.header {
  @include clearfix();
  padding: 0 15px;
  background: $ab-blue-100;
}

.header__logo {
  float: left;
  padding: 15px;
}

.header__link {
  display: block;
  padding: 0 1em;
  line-height: 3em;
  letter-spacing: -0.4px;
  color: $ab-grey-800;
  -webkit-font-smoothing: auto;

  @media ($greaterThanSmall) {
    // line-height determined by .header-logo which contains
    // the logo (58px height) plus 30px of vertical padding
    line-height: 88px;
  }

  &:hover,
  &:focus {
    color: $ab-white;
    background: transparent;
    text-decoration: none;
    outline: 0;
    box-shadow: inset 0 -4px 0 $ab-grey-600;
  }
}

.header__link--active {
  color: $ab-white;
  box-shadow: inset 0 -4px 0 $ab-orange-400;
}
